@define-color cc-bg #1A1A27;
@define-color noti-border-color #85796f;
@define-color noti-bg #3c3836;
@define-color noti-bg-darker #282828;
@define-color noti-bg-hover #504945;
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color text-color #f9f5d7;
@define-color text-color-disabled #bdae93;
@define-color bg-selected #2F4052;

* {
    font-family: "JetBrainsMono NFP";
    font-weight: bold;
    font-size: 14px;
}

/* ========================
   NOTIFICATIONS
======================== */

.notification-row {
    outline: none;
    margin: 14px;
    padding: 0;
    background: transparent;
}

.notification {
    background: transparent;
    margin: 0;
}

.notification-content {
    background: @noti-bg;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid @noti-border-color;
    margin: 0;
}

.notification-row:hover,
.notification-row:focus {
    background: @noti-bg-hover;
    transition: background 0.15s ease-in-out;
}

.close-button {
    background: #d79921;
    color: @cc-bg;
    text-shadow: none;
    padding: 2px 6px;
    border-radius: 4px;
    margin: 5px;
    border: none;
    transition: all 0.15s ease-in-out;
}

.close-button:hover {
    background: @bg-selected;
    color: @cc-bg;
}

/* ========================
   TEXT
======================== */

.summary {
    font-size: 13px;
    color: @text-color;
    padding-top: 6px;
}

.time {
    font-size: 11px;
    color: #d79921;
    margin-right: 20px;
}

.body {
    font-size: 12px;
    color: @text-color;
}

/* ========================
   CONTROL CENTER
======================== */

.control-center {
    background: @cc-bg;
    border: 2px solid @noti-border-color;
    border-radius: 6px;
    padding: 8px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1);
}

/* ========================
   WIDGETS
======================== */

.widget-title {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 6px 10px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-title > button {
    font-size: 1rem;
    color: @text-color;
    background: @noti-bg;
    border-radius: 4px;
    border: none;
    transition: all 0.15s ease-in-out;
}

.widget-title > button:hover {
    background: #d79921;
    color: @cc-bg;
}

.widget-dnd {
    background: @noti-bg-darker;
    padding: 6px 10px;
    margin: 8px 10px;
    border-radius: 4px;
    font-size: 1rem;
    color: #f2e5bc;
}

.widget-dnd > switch {
    border-radius: 4px;
    background: #665c54;
}

.widget-dnd > switch:checked {
    background: #d79921;
    border: 1px solid #d79921;
}

.widget-dnd > switch slider {
    background: @cc-bg;
    border-radius: 4px;
}

.widget-label {
    margin: 10px;
}

.widget-label > label {
    font-size: 1rem;
    color: @text-color;
}

/* MPRIS PLAYER */

.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 6px 10px;
    margin: 8px 10px;
    border-radius: 4px;
}

.widget-mpris-player {
    padding: 6px 10px;
    margin: 6px 0;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.2rem;
}

.widget-mpris-subtitle {
    font-size: 1rem;
    color: @text-color-disabled;
}

/* BUTTONS GRID */

.widget-buttons-grid {
    font-size: 1.2rem;
    padding: 6px;
    margin: 8px 10px;
    border-radius: 4px;
    background: @cc-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 4px;
    padding: 6px;
    background: #1A1A27;
    border-radius: 4px;
    color: @text-color;
    border: none;
    transition: all 0.15s ease-in-out;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: #d79921;
    color: @cc-bg;
}

/* MENUBAR + TOPBAR */

.widget-menubar > box > .menu-button-bar > button,
.topbar-buttons > button {
    border: none;
    background: transparent;
    color: @text-color;
}
